{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer ></script>
    <script src="{% static 'frontend/js/login.js' %}" defer></script>
</head>
<body>
    <form id = "login-form">
        <label for="username">ID</label>
        <input type="text" name="username" id="username">
        <label for="password">PW</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="login">
    </form>
</body>
</html>
